[user]
	signingkey = 0A4901C6A17FB6298
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
[alias]
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\n--abbrev-commit --date=relative
